/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

#login #header {
    background: #f78c40!important;
}

.custom-table-number {
    width: 28px;
    text-align: left;
    /*padding-left: 12px!important;
    padding-right: 0!important;*/
}

#custom-table tr td {
    border-right: 0;
    border-left: 0;
    line-height: 26px;
    /* padding: 6px 4px 7px!important; */
}

.custom-data-name{
    width: 200px;
}

.custom-data-name>:first-child {
    width: 200px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.custom-data-column>:first-child {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 27px;
    color: #8A8A8A;
    cursor: pointer;
}

.custom-data-action {
    width: 80px;
    /*padding-left: 7px!important;
    padding-right: 0!important;*/
}

.active-down:before, .active-down:after {
    left: 31%!important;
}

.newClients-down:before, .newClients-down:after {
    left: 40.5%!important;
}

.notInterested-down:before, .notInterested-down:after {
    left: 59.5%!important;
}

.width100px{
    width: 100px!important;
}

.well .form-actions {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 13px;
}

.activeElement{
    padding-top: 3px;
    padding-right: 80px;
    padding-left: 0px;
    float: left;
}

.timeHeader {
    display: block;
    background: rgba(0,0,0,0.2);
    padding: 2px 7px 3px;
    border-radius: 3px;
    margin-top: 14px;
    color: #fff;
    text-shadow: #985813 0 -1px;
}

.crossButton button{
    padding: 6px 12px!important;
}

.crossButton .row{
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.search-custom{
    margin-top: 0px!important;
}

.search-custom>input[type=text]{
    margin-top: 0px;
}

.smart-style-3 .search-custom>button{
    color: #3276B1;
    top: 0px;
}

.smart-style-3 .search-custom>input[type=text]{
    border-color: #C2C2C2;
}

/*
* error state
*/
.form-horizontal .state-error input,
.form-horizontal .state-error select,
.form-horizontal .state-error textarea,
.form-horizontal .radio.state-error i,
.form-horizontal .checkbox.state-error i,
.form-horizontal .toggle.state-error i {
    background: #fff0f0;
    border-color: #A90329;
}
.form-horizontal .toggle.state-error input:checked + i {
    background: #fff0f0;
}
.form-horizontal .state-error + em {
    display: block;
    margin-top: 6px;
    padding: 0 1px;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    color: #D56161;
    margin-left: 15px;
}
.form-horizontal .rating.state-error + em {
    margin-top: -4px;
    margin-bottom: 4px;
}
.form-horizontal .state-error select + i {
    background: #FFF0F0;
    box-shadow: 0 0 0 9px #FFF0F0;
}
.state-error .icon-append,
.state-error .icon-prepend {
    color: #ed1c24;
}
/*
		 * success state
		 */
.form-horizontal .state-success input,
.form-horizontal .state-success select,
.form-horizontal .state-success textarea,
.form-horizontal .radio.state-success i,
.form-horizontal .checkbox.state-success i,
.form-horizontal .toggle.state-success i {
    background: #f0fff0;
    border-color: #7DC27D;
}
.form-horizontal .toggle.state-success input:checked + i {
    background: #f0fff0;
}
.form-horizontal .note-success {
    color: #6fb679;
}
.form-horizontal .state-success select + i {
    background: honeyDew;
    box-shadow: 0 0 0 9px honeyDew;
}


.checkboxAlert{
    display: inline-block;
}

.checkboxAlert input[type="checkbox"] {
    float: left;
    margin-left: -20px;
}

.trashedRecord td{
    background-color: rgb(236, 200, 176)!important;
}

.smallImage {
    padding-top: 2px;
    padding-rigth: 0px;
    width: 46px;
}
.smart-style-3 .btn-header>:first-child>a, .smart-style-3 #logo-group span#activity {
    margin-right: 5px;
}

.smart-style-3 .btn-header>:first-child>a, .smart-style-3 #logo-group span#newClients,.smart-style-3 #logo-group span#inProgress {
    margin-right: 5px;
}

#logo-group{
    width:255px!important;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {

    #logo-group{
        width:235px!important;
    }
}


#logo {
    width: 110px!important;
    margin-left: 3px!important;
}



/*New clients-*/
#logo-group span#newClients {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: default !important;
    display: inline-block;
    font-weight: bold;
    height: 24px;
    width: 24px;
    padding: 2px;
    text-align: center;
    text-decoration: none !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #bfbfbf;
    color: #c4bab6;
    font-size: 19px;
    margin: 10px 0 0 0;
    position: relative;
}
#logo-group span#newClients:hover {
    border: 1px solid #bfbfbf;
    transition: all 0.0s;
    cursor: pointer !important;
    -webkit-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
}

#newClients.active .badge {
    background: #006fa6 !important;
}

.smart-style-1 #logo-group span#newClients {
    background: #0d0f12;
    border: 1px solid #0d0f12;
    color:#fff;
    cursor: pointer;
}

.smart-style-1 #newClients.active .badge {
    background: #0aa699 !important;
}

.smart-style-2 #logo-group span#newClients {
    background:none !important;
    border:none !important;
    color:#C5C6CA;
}
.smart-style-2 #logo-group span#newClients:hover {
    color:#fff;
}

.smart-style-3 #logo-group span#newClients {
    background-color: #DD7C37;
    background-image: -moz-linear-gradient(top, #DD7C37, #B9662B);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B9662B), to(#B9662B));
    background-image: -webkit-linear-gradient(top, #DD7C37, #B9662B);
    background-image: -o-linear-gradient(top, #DD7C37, #B9662B);
    background-image: linear-gradient(to bottom, #DD7C37, #B9662B);
    color: #fff !important;
    border: 1px solid #f09d61;
    text-shadow: #985813 0 -1px;
}

.smart-style-3 .btn-header>:first-child>a:hover,
.smart-style-3 #logo-group span#newClients:hover,
.smart-style-3 .btn-header>:first-child>a:active,
.smart-style-3 #logo-group span#newClients:active {
    -webkit-box-shadow: inset 1px 1px 0px #985813,inset -1px -1px 0px #985813;
    -moz-box-shadow: inset 1px 1px 0px #985813,inset -1px -1px 0px #985813;
    box-shadow: inset 1px 1px 0px #985813,inset -1px -1px 0px #985813;
    background-color: #dd7a35;
    background-image: -moz-linear-gradient(top, #dd7a35, #984a13);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd7a35), to(#984a13));
    background-image: -webkit-linear-gradient(top, #dd7a35, #984a13);
    background-image: -o-linear-gradient(top, #dd7a35, #984a13);
    background-image: linear-gradient(to bottom, #dd7a35, #984a13);
}
/*New clients END-*/


/*In progress-*/
#logo-group span#inProgress {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: default !important;
    display: inline-block;
    font-weight: bold;
    height: 24px;
    width: 24px;
    padding: 2px;
    text-align: center;
    text-decoration: none !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #bfbfbf;
    color: #c4bab6;
    font-size: 19px;
    margin: 10px 0 0 0;
    position: relative;
}
#logo-group span#inProgress:hover {
    border: 1px solid #bfbfbf;
    transition: all 0.0s;
    cursor: pointer !important;
    -webkit-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
}

#inProgress.active .badge {
    background: #006fa6 !important;
}

.smart-style-1 #logo-group span#inProgress {
    background: #0d0f12;
    border: 1px solid #0d0f12;
    color:#fff;
    cursor: pointer;
}

.smart-style-1 #inProgress.active .badge {
    background: #0aa699 !important;
}

.smart-style-2 #logo-group span#inProgress {
    background:none !important;
    border:none !important;
    color:#C5C6CA;
}
.smart-style-2 #logo-group span#inProgress:hover {
    color:#fff;
}

.smart-style-3 #logo-group span#inProgress {
    background-color: #DD7C37;
    background-image: -moz-linear-gradient(top, #DD7C37, #B9662B);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B9662B), to(#B9662B));
    background-image: -webkit-linear-gradient(top, #DD7C37, #B9662B);
    background-image: -o-linear-gradient(top, #DD7C37, #B9662B);
    background-image: linear-gradient(to bottom, #DD7C37, #B9662B);
    color: #fff !important;
    border: 1px solid #f09d61;
    text-shadow: #985813 0 -1px;
}

.smart-style-3 .btn-header>:first-child>a:hover,
.smart-style-3 #logo-group span#inProgress:hover,
.smart-style-3 .btn-header>:first-child>a:active,
.smart-style-3 #logo-group span#inProgress:active {
    -webkit-box-shadow: inset 1px 1px 0px #985813,inset -1px -1px 0px #985813;
    -moz-box-shadow: inset 1px 1px 0px #985813,inset -1px -1px 0px #985813;
    box-shadow: inset 1px 1px 0px #985813,inset -1px -1px 0px #985813;
    background-color: #dd7a35;
    background-image: -moz-linear-gradient(top, #dd7a35, #984a13);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd7a35), to(#984a13));
    background-image: -webkit-linear-gradient(top, #dd7a35, #984a13);
    background-image: -o-linear-gradient(top, #dd7a35, #984a13);
    background-image: linear-gradient(to bottom, #dd7a35, #984a13);
}
/*In progress END-*/


/*Not Interested-*/
#logo-group span#notInterested {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: default !important;
    display: inline-block;
    font-weight: bold;
    height: 24px;
    width: 24px;
    padding: 2px;
    text-align: center;
    text-decoration: none !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #bfbfbf;
    color: #c4bab6;
    font-size: 19px;
    margin: 10px 0 0 0;
    position: relative;
}
#logo-group span#notInterested:hover {
    border: 1px solid #bfbfbf;
    transition: all 0.0s;
    cursor: pointer !important;
    -webkit-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
}

#notInterested.active .badge {
    background: #006fa6 !important;
}

.smart-style-1 #logo-group span#notInterested {
    background: #0d0f12;
    border: 1px solid #0d0f12;
    color:#fff;
    cursor: pointer;
}

.smart-style-1 #notInterested.active .badge {
    background: #0aa699 !important;
}

.smart-style-2 #logo-group span#notInterested {
    background:none !important;
    border:none !important;
    color:#C5C6CA;
}
.smart-style-2 #logo-group span#notInterested:hover {
    color:#fff;
}

.smart-style-3 #logo-group span#notInterested {
    background-color: #DD7C37;
    background-image: -moz-linear-gradient(top, #DD7C37, #B9662B);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B9662B), to(#B9662B));
    background-image: -webkit-linear-gradient(top, #DD7C37, #B9662B);
    background-image: -o-linear-gradient(top, #DD7C37, #B9662B);
    background-image: linear-gradient(to bottom, #DD7C37, #B9662B);
    color: #fff !important;
    border: 1px solid #f09d61;
    text-shadow: #985813 0 -1px;
}

.smart-style-3 .btn-header>:first-child>a:hover,
.smart-style-3 #logo-group span#notInterested:hover,
.smart-style-3 .btn-header>:first-child>a:active,
.smart-style-3 #logo-group span#notInterested:active {
    -webkit-box-shadow: inset 1px 1px 0px #985813,inset -1px -1px 0px #985813;
    -moz-box-shadow: inset 1px 1px 0px #985813,inset -1px -1px 0px #985813;
    box-shadow: inset 1px 1px 0px #985813,inset -1px -1px 0px #985813;
    background-color: #dd7a35;
    background-image: -moz-linear-gradient(top, #dd7a35, #984a13);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd7a35), to(#984a13));
    background-image: -webkit-linear-gradient(top, #dd7a35, #984a13);
    background-image: -o-linear-gradient(top, #dd7a35, #984a13);
    background-image: linear-gradient(to bottom, #dd7a35, #984a13);
}
/*Not Interested END-*/

.alert-info a{
    color: #305d8c!important;
}

.alert-warning a{
    color: #826430!important;
}

.alert-success a{
    color: #356635!important;
}

.alert-danger a{
    color: #ffffff!important;
    text-shadow: none!important;
}
.noteToggle {
    display: inline-block!important;
}

.noteToggle .toggle i {
  /*width: 70px!important;*/
    top: -13px!important;
    border-radius: 0px!important;
    right: -20px!important;
}

.note-form fieldset {
    background: #fbfbfb!important;
}
.btn-group-smart .btn{
    padding: 6px 12px!important;
}

.notification-body .popover {
    position: fixed!important;
    min-width: 150px;
}
.notification-body .popover .popover-title{
    white-space:nowrap;
}
.twitter-typeahead, .input-groupSearch{
    width:100%;
}

.resizeTextaria {
    resize: vertical!important;
}

.smart-form .btn {
    padding: 6px 12px;
}

.client_footer .btn{
    float: none!important;
    text-overflow: ellipsis;
    overflow: hidden;
}

#importSection em{
    margin-top: 35px;
    position: absolute;
}

.minifymeTools {
    border-bottom: 1px solid #302F2F;
    background: #058dc7;
    color: rgba(249, 249, 249, 0.9);
    text-align: center;
    padding: 0;
    width: 36px;
    height: 28px;
    display: block;
    position: absolute;
    right: -3px;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    margin-top: 35px;
    font-size: 19px;
    transition: all 0.1s linear 0s;
}

.toolsWindow{
    position: fixed;
    overflow: hidden;
    top:0px;
    left: 0px;
    z-index: 10005;
}
.toolsWindow .modal-body{
    overflow-y: scroll;
    height:300px;
}

.toolsWindow .modal-dialog{
    margin: 0;
    width: 300px;
}

.minified .minifymeTools {
    right: 0px;
    color: rgba(249, 249, 249, 0.9);
    position: relative;
    width: 100%;
    border-radius: 0px;
    margin: 0;
    height: 34px;
    font-size: 23px;
}

.clear {
    clear: both;
}

.select2-hidden-accessible {
    display:none !important;
}

.paper-input{
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    border-color: #ccc!important;
    text-align: center;
}

.paper-input:hover{
    border-color: #ccc!important;
}

.paper-form{
    border: 1px solid #ccc;
    background: url('../img/logo-proassist_big_white.png');
    background-color: #f78c40!important;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 40px!important;
    color: black;

}
.paper-form .note{
    color: white;
}

.paper-form fieldset{
    background: rgba(255, 255, 255, 0.1)!important;
}
.paper-form legend{
    position: absolute;
    top: 0px;
    border: none;
    padding:0px;
    margin: 0px;
}

.align-center{
    text-align: center!important;
}
.text-input{
    padding-top: 5px;
}
.top-body{
    height: inherit!important;
    overflow: visible!important;
    overflow-y: visible!important;
}

#printBody{
    overflow: initial;
}

@media print
{
    /*body {overflow: hidden;}*/

    .paper-form fieldset{
        background: rgba(255, 255, 255, 1)!important;
    }
    .paper-form .note {
    color: black;
    }

    .paper-form .note {
    color: white;
    }

    .paper-form{
        border: 1px solid #ccc;
        background-color: white!important;
        margin-bottom: 40px!important;
        color: black;

    }
}

.btn-driver-delete{
    margin-top: 60px;
    position: absolute!important;
    left: 10px!important;
}



.top-number{
    text-align: center;
    padding-top: 50px;
}

.top-number-text{
    text-align: center;
    /* vertical-align: middle; */
    font-size: 30px;
}

.top-img{
    padding: 5px;
}

.top-message-text{
    margin-left: 0px!important;
    height: 140px!important;
}

.top-username{
    font-size: 130%!important;
}

.top-sales{
    font-size: 80%!important;
}

.countDetails{
    height: 50px;
    padding-top: 26px;
    padding-right: 15px;
}

#save-policy .osago, #save-policy .kasko, #save-policy .other{
    display: none;
}

#edit-policy .editOsago, #edit-policy .editKasko, #edit-policy .editOther{
    display: none;
}


#notInterestedBadge{
    font-size: 9px;
}

#customers_not_interested a{
    font-size: 12px;
}

.mark-down-text-area{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box
}

.mandatory {
    color: #D56161!important;
}